.App {
  text-align: center;
}

.nav-bar-content-box {
  display:flex;
  justify-content:space-evenly;
}

button {
  margin-top: 1%;
  height: 5%;
}

.nav-bar {
  border-bottom: 5px solid!important;
}

.card {
  margin: 5%;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  height: 250px;
  width: 250px;
  border-radius: 100%;
}