.ModalFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.ModalFooter>form {
    flex: 1;
    display: flex;
}

.ModalFooter>form>input {
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    max-height: fit-content;
    /* overscroll-behavior-x: contain; */
    overflow-block: clip;
    /* border: none; */
}
