.ModalFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.ModalFooter>form {
    flex: 1;
    display: flex;
}

.ModalFooter>form>input {
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    max-height: fit-content;
    /* overscroll-behavior-x: contain; */
    overflow-block: clip;
    /* border: none; */
}

.modal-content {
    margin: auto;
    width: 70%;
    margin-top: 10%;
    background-color:lightgrey;
    border-radius: 1%;
}

.modal-content .modal-title {
    color: black!important;
}


.btn-close {
    display: none;
}

.close-modal-btn {
    position: absolute;
    margin-left: 64.1%;
    margin-top: -3.5%;
    border-radius: 2%!important;
}